* {
	font-size: 2vw;
}

body {
  background-color: lightblue;
  padding: 1%;
}

div {
	padding: 1%;
	margin: 20px;
}

.centar {
	background-color: white;
	color: black;
	border: 5px solid black;
	border-radius: 40px;
	text-align: center;
}

.centar h1 {
	font-family: Arial;
	color: blue;
	border-bottom: 2px solid blue;
	font-size: 1.5em;
}

.centar h2 {
	color: red;
}

.centar p {
	color: black;
}

.centar a {
	color: black;
	border: 2px solid;
	padding: 5px;
	line-height: 3em;
	text-decoration: none;
	font-family: Tahoma;
}

.centar a:link {
	border-color: red;
}

.centar a:visited {
	border-color: green;
}

.centar a:hover {
	border-color: blue;
}
