body {
  background-color: #131416;
  padding: 1%;
}

div {
	padding: 1%;
	margin: 20px;
	border: 1px solid white;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c4a60;
  position: fixed;
  top: 0;
  width: 100%;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 50px;
}

nav li {
  float: left;
  border-right: 1px solid white;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-family: Arial;
  font-size: 18pt;
}

nav li a:hover {
  background-color: #3c5f80;
}

footer {
  list-style-type: none;
  margin: 1%;
  padding: 0;
  overflow: hidden;
  background-color: #2c4a60;
}

footer li {
  float: left;
  border-right: 1px solid white;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-family: Arial;
  font-size: 18pt;
}

footer li a:hover {
  background-color: #3c5f80;
}

.toc {
	background-color: #2c4a60;
	color: white;
	text-align: center;
}

.toc h1 {
	font-family: Arial;
	color: white;
	font-size: 30pt;
}

.toc a {
	font-family: Arial;
	color: white;
	background-color: #3c5f80;
	padding: 5px 5%;
	line-height: 42px;
	text-decoration: none;
	font-size: 14pt;
}

.toc a:hover {
	border-left: 4px solid;
	border-right: 4px solid;
	border-color: #bcdef8;
}

.centar {
	background-color: #2c4a60;
	color: white;
	text-align: center;
}

.centar h1 {
	font-family: Arial;
	color: white;
	font-size: 30pt;
}

.centar p {
	font-family: Arial;
	color: white;
	font-size: 16pt;
}

.centar a {
	font-family: Arial;
	color: white;
	background-color: #3c5f80;
	padding: 5px;
	line-height: 42px;
	text-decoration: none;
	font-size: 14pt;
}

.centar a:hover {
	border-left: 4px solid;
	border-right: 4px solid;
	border-color: #bcdef8;
}

.code {
	background-color: black;
	color: white;
	font-family: Monaco;
	line-height: 0;
	list-style-type: none;
	margin: 1%;
	padding: 0;
	overflow: hidden;
	text-align: left;
}

.code li {
  float: left;
  padding: 10px 20px;
  display: block;
  color: white;
  text-decoration: none;
}

.code p {
	font-size: 12pt;
}
