ul {
	background-color: rgba(43, 38, 33, .8);
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	border: 1px solid grey;
}

li {
	float: left;
	border-right: 1px solid grey;
}

li a, .dropbtn {
	display: inline-block;
	color: #ca8b58;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
	font-family: Arial;
	cursor: pointer;
}

li a:hover, .dropdown:hover .dropbtn {
	border: 1px solid yellow;
	color: yellow;
	text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(43, 38, 33, .8);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 0;
	margin: 0;
}

.dropdown-content a {
	color: #ca8b58;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	border: 1px solid yellow;
	color: yellow;
	text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

.dropdown:hover .dropdown-content {
	display: block;
}

body {
	background-color: black;
	padding: 1%;
}

img, iframe {
	max-width: 100%;
	max-height: 100%;
}

.centar .toc {
	text-align: center;
}

.centar .toc a {
	padding: 5px 5%;
}

.centar {
	color: white;
	text-align: left;
	padding: 1%;
	margin: 1% 0%;
	border: 0.6vw ridge #946b3d;
	min-width: fit-content;
}

h1 {
	text-align: center;
	font-family: Verdana;
	font-size: 200%;
	text-shadow: -2px -2px 0 #9a3512, 2px -2px 0 #9a3512, -2px 2px 0 #9a3512, 2px 2px 0 #9a3512;
	color: black;
}

h2, h3, h4 {
	font-family: Arial;
	color: #bc7848;
}

h2 {
	text-align: center;
}

h4 {
	font-style: italic;
}

p {
	font-family: Arial;
	color: white;
}

.centar a {
	font-family: Arial;
	color: #82736a;
	padding: 5px;
	line-height: 42px;
	text-decoration: none;
}

.centar a:hover {
	color: white;
}
/* FOR SMALL SCREENS */
@media screen and (min-width: 0px) and (max-width: 950px) {
	#mobile { display: block; } /* show mobile elements */
	#desktop { display: none; } /* hide desktop elements */
	* { font-size: 2.5vw; } /* Text based on screen */
	li a, .dropbtn { padding: 1.5vw 6vw; } /*Navbar size fix */
}
/* FOR BIGGER SCREENS */
@media screen and (min-width: 951px) {
	#mobile { display: none; } /* hide mobile elements */
	#desktop { display: block; } /* show desktop elements */
}
