ul {
	background-color: rgba(0, 0, 0, .6);
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	border: 1px solid grey;
}

li {
	float: left;
	border-right: 1px solid grey;
}

li a, .dropbtn {
	font-family: Arial;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
	cursor: pointer;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: rgba(150, 0, 0, .6);
	color: yellow;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 0;
	margin: 0;
}

.dropdown-content a {
	color: white;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: rgba(150, 0, 0, .6);
	color: yellow;
}

.dropdown:hover .dropdown-content {
	display: block;
}

body {
	background-color: #074053;
	padding: 1%;
}

img, iframe {
	max-width: 100%;
	max-height: 100%;
}

.centar .toc {
	text-align: center;
}

.centar .toc a {
	padding: 5px 5%;
}

.centar {
	background-color: rgba(0, 0, 0, .6);
	text-align: left;
	padding: 1%;
	margin: 1% 0%;
	min-width: fit-content;
	color: white;
}

h1, h2, h3, h4, p {
	font-family: Arial;
}

h1 {
	text-align: center;
	font-size: 200%;
	text-shadow: 0 4px 10px darkred, 0 -4px 10px darkred;
}

h2, h3 {
	color: #e3701a;
}

h2 {
	text-align: center;
}

h4 {
	color: #1be21b;
}

.centar a {
	color: white;
	font-family: Arial;
	padding: 5px;
	line-height: 42px;
	text-decoration: none;
	border: 2px inset grey;
}

.centar a:hover {
	background-color: rgba(150, 0, 0, .6);
	border: 2px inset darkred;
	color: yellow;
}
/* FOR SMALL SCREENS */
@media screen and (min-width: 0px) and (max-width: 950px) {
	#mobile { display: block; } /* show mobile elements */
	#desktop { display: none; } /* hide desktop elements */
	* { font-size: 2.5vw; } /* Text based on screen */
	li a, .dropbtn { padding: 1.5vw 6vw; } /*Navbar size fix */
}
/* FOR BIGGER SCREENS */
@media screen and (min-width: 951px) {
	#mobile { display: none; } /* hide mobile elements */
	#desktop { display: block; } /* show desktop elements */
}
